In [1]:
import pandas as pd

import requests

In [7]:
apiKey = '1A3B1ISXRAKJ1P3Z'

interval_var = '5min'
symbol = 'NEO'

path='https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol='+symbol+'&market=USD&interval='+interval_var+'&apikey='+apiKey+'&datatype=csv&outputsize=full'

# params = {
#     'function': 'DIGITAL_CURRENCY_DAILY',
#     'symbol': 'NEO',
#     'market': 'USD',
#     'datatype': 'csv',
#     'key': "1A3B1ISXRAKJ1P3Z",
# }

# r = requests.get(path, params = params)

# content = r.content

# with open('neo_1Day.csv', 'wb') as csv_file

In [8]:
df = pd.read_csv(path)

In [9]:
df

               timestamp   open   high    low  close  volume
0    2022-01-22 16:15:00  17.69  17.71  17.67  17.69     312
1    2022-01-22 16:10:00  17.45  17.77  17.37  17.72    5870
2    2022-01-22 16:05:00  17.00  17.47  17.00  17.45    4011
3    2022-01-22 16:00:00  17.17  17.22  17.00  17.01    2428
4    2022-01-22 15:55:00  17.18  17.24  17.16  17.18    1608
..                   ...    ...    ...    ...    ...     ...
995  2022-01-19 05:20:00  25.05  25.09  25.04  25.07    1455
996  2022-01-19 05:15:00  25.12  25.13  25.03  25.06    2373
997  2022-01-19 05:10:00  25.22  25.24  25.05  25.11   12516
998  2022-01-19 05:05:00  25.29  25.30  25.22  25.22    1531
999  2022-01-19 05:00:00  25.21  25.30  25.19  25.29     714

[1000 rows x 6 columns]